*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --minimumSide: min(100svh, 100svw);
    --smallGap: calc(var(--minimumSide)/100)
}

body {
    height: 100svh;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0px;
        padding: 1rem 0px;
    }

    dialog {
        margin-top: 10%;
        border-radius: 20px;
        padding-bottom: 0px;
        width: min(400px, 70svw);

        p {
            margin: 0px;
        }

        div {
            margin-top: 1rem;

            label {
                text-align: start;
            }
        }

        div {
            display: flex;
            flex-direction: column;
        }
    }
}


main {
    margin: 0px 20%;
    display: flex;
    flex-direction: column;

    p {
        margin: 1rem;
        font-size: 2rem;
    }
}

button {
    margin: 1.25rem 0px;
    padding: 0.25rem 3rem;
    border-radius: 30px;
    align-self: center;
}

.middle {
    display: flex;
    gap: 1rem;
    align-items: center;

    .playerPanel {
        flex: 1 1 200px;
        min-width: 150px;
        font-size: 1.5rem;
        overflow-wrap: break-word;
    }

    .board {
        background-color: pink;
        display: grid;
        grid-template-columns: repeat(3, minmax(50px, calc(var(--minimumSide)/5)));
        padding: var(--smallGap);
        gap: var(--smallGap);
        justify-content: center;

        div {
            background-color: aqua;
            align-content: center;
            font-size: 5rem;
            aspect-ratio: 1/1;
        }
    }
}

footer {
    flex: none;
    margin-top: auto;
    padding: 0.6rem;
    background-color: #a8adc7;
}

@media (max-width: 1350px) {
    main {
        margin: 0px 7%;
    }
}

@media (max-width: 800px) or ((max-width: 1050px) and (max-aspect-ratio: 3/2)) {

    .middle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content;
        gap: 0px;

        .board {
            grid-area: 1 / 1 / 2 / 3;
            grid-template-columns: repeat(3, minmax(50px, 250px));
        }
    }
}